*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    background-image: url(batman_12-wallpaper-3840x2160.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 10/5;
    color: white;
}
